.movie-single {
    .movie-img {
        margin-right: 30px;
        margin-bottom: 30px;
        img {
            width: 100%;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
    }
    .movie-single-ct .movie-rate {
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-top: 1px solid #405266;
        border-bottom: 1px solid #405266;
        margin-bottom: 30px;
        .rate {
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .material-icons {
                font-size: 36px;
                color: #f5b50a;
            }
            p {
                margin-bottom: 0;
                margin-left: 10px;
                span {
                    font-size: 15px;
                    font-weight: 400;
                }
                span.rv {
                    color: #4280bf;
                    margin-left: 15px;
                }
            }
        }
    }
}

.bd-hd {
    font-size: 36px;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 30px;
    span {
        font-size: 24px;
        color: #4f5b68;
        font-weight: 300;
        text-transform: uppercase;
    }
}

.overview {
    display: inline-block;
    h3 {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 5px;
        border-bottom: 3px solid #2f80ed;
    }
    p:first-child {
        font-size: 14px;
        text-transform: none;
        line-height: 24px !important;
    }
    .sb-it {
        margin-bottom: 15px;
        margin-left: 30px;
        h6 {
            font-size: 14px;
            font-weight: bold;
            text-transform: capitalize;
            margin-bottom: 10px;
        }
    }
}